
.center-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-login{
    height: auto;
    margin-bottom: 10%;
}

:root {
  --white: #fff;
  --grey: #999;
  --dark: #1a1a1a;
  --lightdark: #2a2a2a;
  --lightpink: #f7d7fc;
  --pink: #8b18dd;
  --secondary: #760be0;
  --pinkMex: #e100ff;
  --container_width: 100%;
}

/* Forms, inputs*/
.form_main {
    box-sizing: border-box;
    width: 550px;
    display: flex;
    flex-direction: column;
    background-color: var(--lightpink);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
  }
  
  .heading {
    align-self: flex-start;
    font-size: 2.5em;
    color: var(--lightdark);
    font-weight: 700;
    margin: 15px 0 30px 0;
  }
  
  .inputContainer {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .inputIcon {
    position: absolute;
    left: 10px;
  }
  
  .inputField {
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: 0.5px solid var(--grey);
    border-radius: 12px;
    margin: 10px 0;
    color: var(--dark);
    font-size: .9em;
    font-weight: 500;
    box-sizing: border-box;
    padding-left: 30px;
  }
  
  .inputField:focus {
    outline: none;
    border-bottom: 4px solid var(--pink);
  }
  
  .inputField::placeholder {
    color: var(--grey);
    font-size: 1em;
    font-weight: 500;
  }

  


 /* Tabs */ 
 .radio-input input {
    display: none;
  }
  
  .radio-input {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    color: var(--dark);
    width: var(--container_width);
    overflow: hidden;
    border: 1px solid rgba(53, 52, 52, 0.226);
  }
  
  .radio-input label {
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    z-index: 1;
    font-weight: 600;
    letter-spacing: -1px;
    font-size: 14px;
    width: 50%; 
    text-align: center; 
  }
  
  .selection {
    position: absolute;
    height: 100%;
    width: calc(var(--container_width) / 2);    
  }
  
  .radio-input label:has(input:checked) {
    color: var(--white);
    background-color: var(--pink);
  }
  
  tab-container {
    width: 100%;
    display: grid;
    margin-top: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    border: solid rgba(255, 255, 255, 0.03);
    border-radius: 0.5em;
  }
  
  tab-content {
    display: none;
    grid-column: 1 / -1;
  }
  
  .tabs-login {
    display: block;
    width: 100%;
    margin-top: 20px;
  }

.radio-input label:hover,
.radio-input label:active {
  background-color: #e5c3ff;
  color: var(--pink);
}
  


  /*Uploading*/
.upload-section{
  margin: 0 10%;
}

.upload-components{
  display: inline-flex;
  width: 100%;
  padding: 10px;

  text-overflow: ellipsis;
  overflow: hidden !important;
  outline: none;
  border-bottom: 4px solid var(--pink);
}

.name-upload p{
  right: 10%;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden !important;
}

.name-upload span{
  right: 30%;
  margin-top: 2%;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden !important;
  color: var(--grey);

}

.upload-button {
  background: var(--pinkMex);
  border: 1px solid var(--pinkMex);
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  min-height: 40px;
  padding: 12px 14px;
  text-align: center;
  vertical-align: middle;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px;
}

.upload-button:hover,
.upload-button:active {
  background-color: initial;
  color: var(--pinkMex);
}

.upload-button:active {
  opacity: .5;
}



/* Generate */

.button-container{
  display: grid;
  margin: 2%;
}
.custom-button {
  position: relative;
  height:60px;
  width: 100px;
  margin: 3% 0%;
  background: var(--pinkMex);
  border: 1px solid var(--pinkMex);
  border-radius: 10px;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  min-height: 40px;
  padding: 12px 14px;
  text-align: center;
  vertical-align: middle;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px;
}

.custom-button:hover,
.custom-button:active{
  background-color: initial;
  color: var(--pinkMex);

}

.spinner:hover,
.spinner:active {
  background-color: initial;
  border-top-color: var(--pinkMex);
}

.custom-button:active {
  opacity: .5;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: var(--lightpink);
  animation: spin 1s linear infinite;
}
.spans-container{
  display: grid;
}
@keyframes spin {
  0% {
      transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
      transform: translate(-50%, -50%) rotate(360deg);
  }
}




/* Send Button*/

.send-login {
  background: var(--pink);
  border-radius: 12px;
  border-style: none;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  height: 50px;
  text-align: center;
  vertical-align: center;
  width: 100%;
}

.send-login:hover {
  opacity: 0.9;
}
