#root{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../src/img/login.jpg');
  background-repeat: no-repeat;
  background-size: cover; 
}

.message-main{
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: black;
}


.message-main-contacts{
  width: 30%;
  height: 100%;
  padding: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2%
}
.message-main-contacts-title{
  padding: 0% 6%;
}
.module-contact-target{
  padding: 0% 1% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}


.message-main-conversation{
  width: 70%;
  height: 100%;
  padding: 1%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.module-contact{
  width: 100%;
  padding: 0% 2%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 2%;
  align-items: center;
}

.contact-icont{
  width: 2%;
}


.message-main-conversation-input{
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
 
}
.module-input{
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.module-input-input {
  width: 90%;
  height: 100%;
}
.module-input-button{
  font-size: large;
  padding: 1% 1%;
}

.module-gen-key{
  font-size: large;
  padding: 1% 1%;
}
.login-container{
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap:20px;
}

.login-option{
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap:20%;

}
